# Binary Files
Binaries/*
Plugins/*/Binaries/*
Content/MetaHumans

node_modules

# Builds
Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!Build/*/

!Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

Binaries
DerivedDataCache
Intermediate
Saved
PackagedServer
Android_Multi
Android Client
Android Development
Android Standalone
PackagedClient
PackagedServer
PackagedClient 2.0
PackagedServer 2.0
PackagedStandalone
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace