Binaries
DerivedDataCache
Intermediate
Saved
PackagedServer
Android_Multi
Android Client
Android Development
Android Standalone
PackagedClient
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace